*{
	padding: 0px;
	margin: 0px;
}

body,html{
height: 100%;
min-height:400px; 
position:relative;
margin:0;
}

@-webkit-keyframes flutuar{
	from{transform: translateY(0px);}
	to{transform: translateY(-15px);}
}

@keyframes flutuar{
	from{transform: translateY(0px);}
	to{transform: translateY(-15px);}
}

img{
	cursor: pointer;
	position:fixed;
	z-index: 1;
	width: 5%;
	border-radius: 50px;
	transition: 1s all;
	right: 20px;
	top:5%;
	animation: flutuar 1s infinite alternate;
}


img:hover{
	width: 6%;
}



#caixa1,#caixa2,#caixa3,#caixa4{
	margin: 0px auto;
	position:relative;
	width: 100%;
	height: 100%;
}
#caixa1{
	background-image:  url('images/caixa1.jpg');
	background-size: cover;
}

#caixa2{
		background-image:  url('images/caixa2.jpg');
	background-size: cover;
}

#caixa3{
	background-image:  url('images/caixa3.jpg');
	background-size: cover;
}

#caixa4{
	background-image:  url('images/caixa4.jpg');
	background-size: cover;
}


#competenciaMotal .modal-body{
	line-height: 20%;
}

#contato .modal-body{
	text-align: center;
}

#github,#linkdin,#wpp{
	margin: 20px;
	border-radius:70px;
	height: 100px;
	width: 100px;
	min-width:90px;
	min-height:90px;
	background-image: url('images/github.png');
	background-size:cover;
}


#github{
	background-image: url('images/github.png');
	background-size:cover;
}
#linkdin{
	background-image: url('images/linkdin.png');
	background-size:cover;
}
#wpp{
	background-image: url('images/wpp.png');
	background-size:cover;
}

#wpp:hover, #github:hover, #linkdin:hover{
border:5px solid green;
}

.centralizar{
	position: absolute;
	top:45%;
	text-align: center;
	width:100%;
	height: 20px;
}


.custom{
	margin: 0px auto;
	height: 60px;
	width: 200px;
}

.btn-primary{
	animation: flutuar 1s infinite alternate;
}

.btn-primary:hover{
	width: 220px;
	height: 70px;
}

@media (max-width: 720px){
	#caixa1,#caixa2,#caixa3,#caixa4{
	margin: 0px auto;
	position:relative;
	width: 100%;
	height: 80%;
	background-size: cover;
}




@media (max-width: 400px){
	#caixa1,#caixa2,#caixa3,#caixa4{
	margin: 0px auto;
	position:relative;
	width: 100%;
	height: 60%;
	background-size: cover;
}


img{
	width: 15%;
}

.btn-primary{
	animation: flutuar 1s infinite alternate;
	width: 120px;
	height: 40px;
}

.btn-primary:hover{
	width: 130px;
	height: 50px;
}

img:hover{
	width: 20%;
}


